/bootstrap/*
/node_modules
/public/postalExchange
/public/visitorLog
/public/hot
/public/storage
/public/documents
/public/images
/public/downloads
/public/assignments/*
/storage/*.key
/vendor
/ref
/.vagrant
/tests
.idea
.idea/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
